// Colors
$black:           #000 !default;
$black-light:     #444 !default;
$red:             #f23a2e;
$red-hover:       #eb1c0f;
$green:           #28a745;
$bg-light:        #f8f9fa;

// Fonts
$font-family-base:   'Nunito Sans', -apple-system, "Segoe UI", "Helvetica Neue", Arial, sans-serif !default;
$font-family-second: 'Roboto Mono', SFMono-Regular, Menlo, Monaco, Consolas !default;



// Sizes
$font-size-base:  16px;
$font-size-title: 3.5rem;


// Grid breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
